/* style.css */

html,
body { /* add page background and font style/size/color */
    text-align: center; /* removes margin by default */
    display: flex;
    font: 24px Arial;
    background-color: rgb(136, 252, 232);



}
img { display: block; } /* images take up their own line now */


